---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Named Entity TEI tagger</title>
		<style>
        body{
            margin: 2rem;
            padding: 5rem;
            background-color: rgba(6, 6, 243, 0.6);
        }
       label{
        font-size: medium;
        margin-right:.5rem;
       }

       button{
        font-size: 1rem;
        margin: 2rem;
        padding: .5rem;
        background-color: rgba(6, 6, 243, 0.6);
        border-style: initial;
        box-shadow: 1px 2px rgba(6, 6, 243, 0.6);
        border-radius: 10%;
        color: white;
       }       

       h1{
        text-align: center;
        color:rgb(244, 244, 250);
       }
       div.container{
         background-color: rgb(244, 244, 250);
        margin-top: 10%;
        margin-left: auto;
            margin-right: auto;
            padding: 3rem;
        width: 80%;
        height: auto;
        border: 1px solid rgb(244, 244, 250);
        box-shadow: 1px 2px 1px rgb(244, 244, 250);
       }
       div.container div{
        display:flex;
         flex-wrap: wrap;
       
       }
       .output{
         width:50%;
       }

       .output a{
        margin-left:20%;
        text-decoration: none;
        font-size: 1rem;
        padding: .5rem;
        background-color: rgba(6, 6, 243, 0.6);
        border-style: initial;
        box-shadow: 1px 2px rgba(6, 6, 243, 0.6);
        border-radius: 10%;
        color: white;
       }
    </style>
 
	</head>
	<body>
		<h1>Named Entity TEI tagger</h1>
    <div class="container">
    <!-- <form action="handlefile.js" method="post" enctype="multipart/form-data">-->
        <div>
          <label for="file">Upload your XML-TEI file</label>
          <input id="file" name="file" type="file" accept="text/xml"/>
        </div>
        <div>
          <button>Process file</button>
        </div>
    </div> 

	<script type="text/javascript">
/*

var txtdata = "";
const btn = document.querySelector('button');
btn.addEventListener('click', handleSubmit);

function handleSubmit() {
     console.log(this)
 const file = document.querySelector('input');
 console.log(file)
 readfile(file); 
 
} 

function readfile(file){
    
    const read = new FileReader();
    console.log(read)
    read.onload = function result(ev){
        //console.log(ev);
        //let output = document.createElement('div');
        //output.setAttribute('class', "output");
        
        //output.appendChild(a);
        //document.querySelector('.container div').appendChild(output);
        const text = ev.target.result; 
        const parser = new DOMParser();
        const xml = parser.parseFromString(text, "text/xml");
        const select = xml.querySelectorAll('div2:not(div2[type="forematter"]) *');
        const select1 = xml.querySelectorAll('div2 *');
        
        for (var n of select1){
            var txtcont = n.textContent.toString();
            
            txtdata += txtcont + " ";
           
        }
   
console.log(txtdata)

// based on: https://www.tutorialspoint.com/how-to-create-and-save-text-file-in-javascript
      /*  const a = document.createElement('a');
        const outfile = new Blob([text], { type: 'text/xml' });
        //console.log(outfile);
        a.href = URL.createObjectURL(outfile);
        a.download = `ner_${file.files[0].name}`;
        a.click();
        URL.revokeObjectURL(a.href);
        */
  /*
    };
    read.readAsText(file.files[0])
} 
 */
 </script>
 <script src="./form.cjs"></script>
	</body>
</html>
