---
const logo = "/frontpic.jpg"
---
<style>
body{background-color: black;}
img{
  width:99vw;
  height:99vh;
  /*margin: 7rem 0 1rem 37%;*/
}
a{text-decoration: none;}
#text{
position:relative;
top: -2rem;
font-size:0.5rem;
color:aliceblue}
</style>

<figure>
<a href="./en" id="logo">
<img src={logo}/></a>
<figcaption><a href="https://tei-c.org/" target="_blank"><span id="text">iStock.com/Aditya Mawardi</span></a></figcaption>
</figure>

<script>
const link = document.querySelector('#logo');
const myTimeout = setTimeout(click,3000);
function click(){link.click()};
</script>